docutils

sphinxext.remoteliteralinclude
sphinx
pydata-sphinx-theme
sphinxcontrib-napoleon
plantweb
sphinxcontrib-programoutput
nbsphinx
jupyterlab
myst-parser
readthedocs-sphinx-search
sphinx-copybutton
pygithub
sphinxcontrib-jquery